%section.admin_add_video
  .container
    .row
      .span10.offset1
        = bootstrap_form_for [:admin, @video], html: { class: 'form-horizontal' } do |f|
          %ul.nav.nav-tabs
            %li
              =link_to "Recent Payments", admin_payments_path
            %li
              =link_to "Add a New Video", new_admin_video_path
            %li.active
              %a(href="") Edit Video
          %fieldset
            = f.text_field :title, class: "span3"
            = f.select :categories, Category.all.collect {|category| [category.name, category.id]}, {}, multiple: true
            = f.text_area :description, class: "span6", rows: 8
            = f.file_field :large_cover, class: "btn btn-file", label: 'Large Cover'
            = f.file_field :small_cover, class: "btn btn-file", label: 'Small Cover'
            = f.text_field :video_url, class: "span3", label: "Video URL"
          %fieldset.actions.control-group
            .controls
              %input(type="submit" value="Edit Video" class="btn")
